:root {
  --color-bg-light: #081369; 
  --color-bg-dark: #0b0f2a;  
  --color-text: #ffffff;
  --color-highlight: #c4b5fd;
  --font-main: 'Poppins', sans-serif;
  --color-strongs: rgb(50, 205, 244);
}
